.backet[data-count] {
    position: relative;
    &::after {
        content: attr(data-count);
        color: #fff;
        background-color: red;
        border-radius: 50%;
        padding: 3px;
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 10px;
        width: 8px;
        height: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}