<div class="calculator">
    <div class="calculator__display">
        @@include("../display/_display.html", {
            "text": "1000"
        })
    </div>
    <div class="calculator__actions">
        @@include("../button/_button.html", {
            "text": "7"
        })
        @@include("../button/_button.html", {
            "text": "8"
        })
        @@include("../button/_button.html", {
            "text": "9"
        })
        @@include("../button/_button.html", {
            "text": "+"
        })
        @@include("../button/_button.html", {
            "text": "4"
        })
        @@include("../button/_button.html", {
            "text": "5"
        })
        @@include("../button/_button.html", {
            "text": "6"
        })
        @@include("../button/_button.html", {
            "text": "-"
        })
        @@include("../button/_button.html", {
            "text": "1"
        })
        @@include("../button/_button.html", {
            "text": "2"
        })
        @@include("../button/_button.html", {
            "text": "3"
        })
        @@include("../button/_button.html", {
            "text": "*"
        })
        @@include("../button/_button.html", {
            "text": "0"
        })
        @@include("../button/_button.html", {
            "text": ","
        })
        @@include("../button/_button.html", {
            "text": "="
        })
        @@include("../button/_button.html", {
            "text": "/"
        })
    </div>
</div>