<div class="modal">
    <div class="modal__content">
        <button class="modal__close">X</button>
        <div class="tabs">
            <input type="radio" name="tabs" id="tab-1" checked>
            <input type="radio" name="tabs" id="tab-2">
            <div class="tabs__items">
                <label class="tabs__item" for="tab-1">
                    Login
                </label>
                <label class="tabs__item" for="tab-2">
                    Create Account
                </label>
            </div>
            <form id="login" class="form">
                <label class="form__field">
                    E-mail
                    <input type="text" name="email">
                </label>
                <label class="form__field">
                    Password
                    <input type="password" name="password">
                </label>
                <button>Login</button>
            </form>
            <form id="create" class="form">
                <label class="form__field">
                    E-mail
                    <input type="text" name="email">
                </label>
                <label class="form__field">
                    Password
                    <input type="password" name="password">
                </label>
                <label class="form__field">
                    User Name
                    <input type="text" name="userName">
                </label>
                <button>Create Account</button>
            </form>
        </div>    
    </div>
</div>